<section class="px-4 py-8">
  <h2 class="text-2xl font-bold mb-4">Projects</h2>
  <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <ng-container *ngIf="!selectedProject">
      <li
        *ngFor="let project of projects | projectFilter : tagFilter"
        [class.hidden]="
          categoryFilter && project.category?.id != categoryFilter.id
        "
        class="bg-gray-100 rounded-lg shadow-md p-4"
      >
        <section (click)="onSelect(project)">
          <app-project-detail [project]="project"></app-project-detail>
        </section>
      </li>
    </ng-container>
    <section *ngIf="selectedProject">
      <div (click)="clearSelectedProject()">Back</div>
      <app-project-detail [project]="selectedProject"></app-project-detail>
    </section>
  </ul>
</section>
