<header class="p-4">
  <h1 class="text-3xl font-bold">{{ title }}</h1>
  <hr class="my-4 border-gray-300" />
</header>

<main class="md:flex min-h-screen">
  <!-- Display Entire list of categories and tags -->
  <div class="md:w-4/5">
    <app-projects
      [categoryFilter]="categoryFilter"
      (newCategoryFilterEvent)="setCategoryFilter($event)"
      [tagFilter]="tagFilter"
      (newTagFilterEvent)="setTagFilter($event)"
    ></app-projects>
  </div>

  <!-- Sid Bar -->
  <div class="md:w-1/5">
    <!-- clear function / trash bin-->
    <section class="px-4 py-5">
      <article *ngIf="categoryFilter || tagFilter">
        <button
          (click)="clearFilters()"
          class="rounded-l text-gray-800 px-3 py-2 flex items-center"
        >
          <span class="material-symbols-outlined text-4xl text-red-500">
            delete
          </span>
        </button>

        <!-- Filter names -->
        <section>
          <div *ngIf="categoryFilter" class="ml-2 font-bold text-red-500">
            Category:
            {{ categoryFilter.name }}
          </div>
          <div *ngIf="tagFilter" class="ml-2 font-bold text-red-500">
            Tag:
            {{ tagFilter.name }}
          </div>
        </section>
      </article>
    </section>

    <!-- categories -->
    <section class="p-4">
      <h2 class="text-base font-bold mb-4">Categories</h2>
      <app-categories
        [categoryFilter]="categoryFilter"
        (newCategoryFilterEvent)="setCategoryFilter($event)"
      ></app-categories>
    </section>

    <!-- tags -->
    <section class="p-4">
      <h2 class="text-base font-bold mb-4">Tags</h2>
      <app-tags
        [tagFilter]="tagFilter"
        (newTagFilterEvent)="setTagFilter($event)"
      ></app-tags>
    </section>
  </div>
</main>

<footer class="p-4 mt-auto">
  <hr class="my-4 border-gray-300" />
  <p class="text-gray-700">&copy; {{ date | date : "yyyy" }} {{ author }}</p>
</footer>
