<header class="p-4">
  <h1 class="py-4 text-gray-700 text-3xl">
    <span class="text-[#5651e5]">{{ title }}</span>
  </h1>
  <nav class="cursor-pointer py-4">
    <span routerLink="/" class="mr-2 text-gray-600 font-bold text-xl"
      >Home</span
    >
    |
    <span routerLink="/about" class="ml-2 mr-2 text-gray-600 font-bold text-xl"
      >About</span
    >
    |
    <span routerLink="/projects" class="ml-2 text-gray-600 font-bold text-xl"
      >Projects</span
    >
  </nav>
  <hr class="my-4 border-gray-300" />
</header>

<main class="md:flex min-h-screen">
  <!-- Display Entire list of categories and tags -->
  <div class="md:w-4/5">
    <router-outlet></router-outlet>
  </div>

  <!-- Sid Bar -->
  <div class="md:w-1/5">
    <!-- all -->
    <section class="p-4">
      <div class="bg-gray-100 rounded-lg shadow-md p-4">
        <h3
          class="text-base font-bold mb-2 cursor-pointer"
          routerLink="/projects"
          routerLinkActive="text-purple-500"
        >
          Select All
        </h3>
      </div>
    </section>

    <!-- categories -->
    <section class="p-4">
      <h2 class="text-base font-bold mb-4">Categories</h2>
      <app-categories
        [categoryFilter]="categoryFilter"
        (newCategoryFilterEvent)="setCategoryFilter($event)"
      ></app-categories>
    </section>

    <!-- tags -->
    <section class="p-4">
      <h2 class="text-base font-bold mb-4">Tags</h2>
      <app-tags
        [tagFilter]="tagFilter"
        (newTagFilterEvent)="setTagFilter($event)"
      ></app-tags>
    </section>
  </div>
</main>

<footer class="p-4 mt-auto">
  <hr class="my-4 border-gray-300" />
  <p class="text-gray-700">&copy; {{ date | date : "yyyy" }} {{ author }}</p>
</footer>
